<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>测试静态页面</title>
<link href="../../resources/ui/css/main.css" rel="stylesheet" type="text/css" />
<!--[if IE 8]><link href="../../resources/ui/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<script type="text/javascript" src="../../resources/ui/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../resources/ui/js/files/bootstrap.min.js"></script>
</head>
<body>
	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<ul class="top-menu">
				<li><a class="fullview"></a></li>
				<li><a class="showmenu"></a></li>
				<li>&lt;</li>
				<li class="dropdown">
					<a class="user-menu" data-toggle="dropdown"><img src="../../resources/ui/img/userpic.png" alt="" /><span>Howdy, Eugene! <b class="caret"></b></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" title=""><i class="icon-user"></i>Profile</a></li>
						<li><a href="#" title=""><i class="icon-inbox"></i>Messages<span class="badge badge-info">9</span></a></li>
						<li><a href="#" title=""><i class="icon-cog"></i>Settings</a></li>
						<li><a href="#" title=""><i class="icon-remove"></i>Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /fixed top -->
	
</body>
</html>
